/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */


label strong{
    font-size: 20px;
}

.logo{
    width: 150px;
    height: 60px;
}
.search-sec{
    border: 2px solid;
    height: 60vh;
    border-radius:50px;

}
u{
    margin-bottom: 2px;
}
.fields{
    padding: 10px;
    width: 100%;
    margin: 5px;
    border-radius: 20px;
}
.search-btn{
    
    width: 40%;
    position: absolute;
    left: 30%;
    border-radius: 100px;
    background-color: grey;
    color: white;
    padding: 10px;
    border:none;
}
.search-btn:hover{
    background-color: black;
}


.hero-image{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/human-using-a-computer-laptop-for-searching-for-job-and-fill-out-on-picture-id1349094945?b=1&k=20&m=1349094945&s=170667a&w=0&h=upP32zkgyNzyad2sv2_jjSgcS8qdGtBcgkF3yKugIzM=);
}
.bg-dark{
    opacity: 0.6;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
    margin-left: 20px;
}
.navbar-light .navbar-brand {
	color: black;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: black;
}
.navbar-light .navbar-nav .nav-link {
	color: black
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: black;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: grey;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	font-weight: bolder;
    color: black;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: white;
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	} 
}


/* footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
}   
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container .line h2{
    position: relative;
    margin-bottom: 15px;
    color: white;
}
footer .container .line h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: black;
}
footer .container .line p{
    color: white;
}
.footer-1 .line p{
    text-align: justify;
    padding: 18px 40px 20px 10px;
}
.social{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color:  white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
}
.social li a .fa{
    color: black;
    font-size: 20px;
}
.social li a .fa:hover{
    color: black;
}
.footer-2{
    position: relative;
}
.footer-2 li{
    list-style: none;
}
.footer-2 li a{
    color:  white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;            
}
.footer-2 li a:hover{
    color: white;
}
.footer-3{
    position: relative;
}
.footer-3 li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 10px;
}
.footer-3 li span{
    color: white;
    text-decoration: none;
}
.footer-3 a{
    color: white;
    text-decoration: none;
}
.footer-3 a:hover{
    color: white;
}
.copyright{
    font-weight: bold;
    width: 100%;
    background-color: white;
    padding: 8px 100px;
    text-align: center;
    color: Black;
}
@media(max-width: 991px){
    footer{padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .copyright{
        padding: 8px 40px;
    }
}
@media(max-width: 768px){
    footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}